/*!
 * Theme Name:  Genesis Starter
 * Theme URI:   http://www.seothemes.com/themes/genesis-starter/
 * Description: Starter theme for the Genesis Framework.
 * Author:      SEO Themes
 * Author URI:  http://www.seothemes.com/
 * Version:     2.2.7
 * Text Domain: genesis-starter
 * Tags:        one-column, two-columns, left-sidebar, right-sidebar, accessibility-ready, custom-logo, custom-background, custom-colors, custom-header, custom-menu, featured-images, full-width-template, rtl-language-support, sticky-post, theme-options, threaded-comments, translation-ready.
 * Template:    genesis
 * Template     Version: 2.5.2
 * License:     GPL-2.0+
 * License URI: http://www.gnu.org/licenses/gpl-2.0.html
 * GitHub URI:  https://github.com/seothemes/genesis-starter
 */
/* # Table of Contents

- Utilities
	- Variables
	- Mixins
	- Functions
- Reset
	- Baseline Normalize
	- Box Sizing
	- Float Clearing
- Defaults
	- Typography
	- Headings
	- Forms
	- Objects
	- Tables
	- Accessibility
- Structure
	- Site Containers
	- Content Width
	- Column Classes
	- Gallery
- Common
	- Avatars
	- Genesis
	- Search Form
	- Titles
	- WordPress
	- Gutenberg
- Header
	- Before Header
	- Site Header
	- Title Area
	- Widget Area
	- Hero Section
- Menus
	- Menus
	- Sub Menus
	- Specific Menus
	- Menu Toggles
- Content
	- Entries
	- Entry Meta
	- Pagination
	- Comments
- Sidebars
	- Widgets
	- Sidebars
- Footer
	- Site Footer
	- Footer Widgets
- Plugins
	- Simple Social Icons
	- Gravity Forms
- Home
	- Front Page
	- Custom Header
- Print
	- Print Styles
*/
/* HTML5 Reset
--------------------------------------------- */
/* Baseline Normalize
--------------------------------------------- */
/* normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
button,
hr,
input
{
    overflow: visible;
}

progress,
sub,
sup
{
    vertical-align: baseline;
}

[type='checkbox'],
[type='radio'],
legend
{
    box-sizing: border-box;
    padding: 0;
}

html
{
    line-height: 1.15;

    -webkit-text-size-adjust: 100%;
}

body
{
    margin: 0;
}

h1
{
    font-size: 2em;

    margin: .67em 0;
}

hr
{
    box-sizing: content-box;
    height: 0;
}

code,
kbd,
pre,
samp
{
    font-family: monospace;
    font-size: 1em;
}

a
{
    background-color: transparent;
}

abbr[title]
{
    text-decoration: underline;
    text-decoration: underline dotted;

    border-bottom: none;
}

b,
strong
{
    font-weight: bolder;
}

small
{
    font-size: 80%;
}

sub,
sup
{
    font-size: 75%;
    line-height: 0;

    position: relative;
}

sub
{
    bottom: -.25em;
}

sup
{
    top: -.5em;
}

img
{
    border-style: none;
}

button,
input,
optgroup,
select,
textarea
{
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;

    margin: 0;
}

button,
select
{
    text-transform: none;
}

[type='button'],
[type='reset'],
[type='submit'],
button
{
    -webkit-appearance: button;
}

[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner,
button::-moz-focus-inner
{
    padding: 0;

    border-style: none;
}

[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring,
button:-moz-focusring
{
    outline: ButtonText dotted 1px;
}

fieldset
{
    padding: .35em .75em .625em;
}

legend
{
    display: table;

    max-width: 100%;

    white-space: normal;

    color: inherit;
}

textarea
{
    overflow: auto;
}

[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button
{
    height: auto;
}

[type='search']
{
    outline-offset: -2px;

    -webkit-appearance: textfield;
}

[type='search']::-webkit-search-decoration
{
    -webkit-appearance: none;
}

::-webkit-file-upload-button
{
    font: inherit;

    -webkit-appearance: button;
}

details
{
    display: block;
}

summary
{
    display: list-item;
}

[hidden],
template
{
    display: none;
}

/* Box Sizing
--------------------------------------------- */
html
{
    box-sizing: border-box;
}

*,
*:before,
*:after
{
    box-sizing: inherit;
}

/* Float Clearing
--------------------------------------------- 

.author-box:before,
.clearfix:before,
.entry:before,
.entry-content:before,
.nav-primary:before,
.nav-secondary:before,
.pagination:before,
.site-container:before,
.widget:before,
.wrap:before {
	display: table;
	content: " ";
}

.author-box:after,
.clearfix:after,
.entry:after,
.entry-content:after,
.nav-primary:after,
.nav-secondary:after,
.pagination:after,
.site-container:after,
.widget:after,
.wrap:after {
	display: table;
	clear: both;
	content: " ";
}*/
/* Defaults
----------------------------------------------*/
/* Typographical Elements
--------------------------------------------- */
html
{
    font-size: 62.5%;
    /* 10px browser default */

    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: geometricPrecision;
}

/* Chrome fix */
body > div
{
    font-size: 18px;
    font-size: 1.8rem;
}

body
{
    font-family: 'HK Grotesk', sans-serif;
    font-size: 18px;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.625;

    letter-spacing: -.01em;

    color: #434a54;
    background-color: #fff;
}

button,
input:focus,
input[type='button'],
input[type='reset'],
input[type='submit'],
textarea:focus,
.button,
.gallery img
{
    transition: all .2s ease-in-out;
}

a
{
    transition: color .2s ease-in-out, background-color .2s ease-in-out;
    text-decoration: none;

    color: #0073e5;
}

a:focus,
a:hover
{
    text-decoration: none;

    color: #434a54;
}

p
{
    margin: 0 0 30px;
    padding: 0;
}

ol,
ul
{
    margin: 0;
    padding: 0;
}

li
{
    list-style-type: none;
}

hr
{
    clear: both;

    margin: 30px 0;

    border-collapse: collapse;

    border: 0;
    border-top: 1px solid #eee;
}

b,
strong
{
    font-weight: 600;
}

blockquote,
cite,
em,
i
{
    font-style: italic;
}

mark
{
    background: #ddd;
}

blockquote
{
    margin: 30px;
}

blockquote:before
{
    font-size: 30px;
    font-size: 30px;
    font-size: 3rem;

    position: relative;
    top: -10px;
    left: -20px;

    display: block;

    height: 0;

    content: '\201C';
}

/* Headings
--------------------------------------------- */
h1,
h2,
h3,
h4,
h5,
h6
{
    font-family: 'Freight-Display-Pro', sans-serif;
    font-weight: 500;
    line-height: 1.2;

    margin: 0 0 20px;
}

h1
{
    font-size: 30px;
    font-size: 3rem;
}

h2
{
    font-size: 27px;
    font-size: 2.7rem;
}

.entry-content h3,
.entry-content h4
{
    font-weight: 500;
}

h3
{
    font-size: 24px;
    font-size: 2.4rem;
}

h4
{
    font-size: 20px;
    font-size: 2rem;
}

.entry-content h4
{
    margin-top: 40px;
}

h5
{
    font-size: 18px;
    font-size: 1.8rem;
}

h6
{
    font-size: 16px;
    font-size: 1.6rem;
}

/* Objects
--------------------------------------------- */
embed,
iframe,
img,
object,
video,
.wp-caption
{
    max-width: 100%;
}

img
{
    height: auto;

    vertical-align: top;
}

figure
{
    margin: 0;
}

/* Gallery
--------------------------------------------- */
.gallery
{
    overflow: hidden;
}

.gallery img
{
    height: auto;
    padding: 4px;

    border: 1px solid #eee;
}

.gallery img:focus,
.gallery img:hover
{
    border: 1px solid #999;
    outline: none;
}

.gallery-item
{
    float: left;

    margin: 0 0 30px;

    text-align: center;
}

.gallery-columns-1 .gallery-item
{
    width: 100%;
}

.gallery-columns-2 .gallery-item
{
    width: 50%;
}

.gallery-columns-3 .gallery-item
{
    width: 33%;
}

.gallery-columns-4 .gallery-item
{
    width: 25%;
}

.gallery-columns-5 .gallery-item
{
    width: 20%;
}

.gallery-columns-6 .gallery-item
{
    width: 16.6666%;
}

.gallery-columns-7 .gallery-item
{
    width: 14.2857%;
}

.gallery-columns-8 .gallery-item
{
    width: 12.5%;
}

.gallery-columns-9 .gallery-item
{
    width: 11.1111%;
}

.gallery-columns-2 .gallery-item:nth-child(2n + 1),
.gallery-columns-3 .gallery-item:nth-child(3n + 1),
.gallery-columns-4 .gallery-item:nth-child(4n + 1),
.gallery-columns-5 .gallery-item:nth-child(5n + 1),
.gallery-columns-6 .gallery-item:nth-child(6n + 1),
.gallery-columns-7 .gallery-item:nth-child(7n + 1),
.gallery-columns-8 .gallery-item:nth-child(8n + 1),
.gallery-columns-9 .gallery-item:nth-child(9n + 1)
{
    clear: left;
}

/* Forms
--------------------------------------------- */
input,
select,
textarea
{
    font-size: 18px;
    font-size: 1.8rem;
    font-weight: 400;

    width: 100%;
    padding: 15px;

    color: #434a54;
    border: 1px solid #ddd;
    background-color: #fff;
}

input:focus,
textarea:focus
{
    border: 1px solid #999;
    outline: none;
}

input[type='checkbox'],
input[type='image'],
input[type='radio']
{
    width: auto;
}

::-moz-placeholder
{
    opacity: 1;
    color: #434a54;
}

::-webkit-input-placeholder
{
    color: #434a54;
}

button
{
    font-size: 16px;
    font-size: 1.6rem;
    font-weight: 500;

    width: auto;
    padding: 15px 30px;

    cursor: pointer;
    white-space: normal;
    text-decoration: none;

    color: #fff;
    border: 0;
    background-color: #434a54;
}

button:focus,
button:hover
{
    color: #fff;
    background-color: #0073e5;
}

button.small
{
    padding: 8px 16px;
}

input[type='button']
{
    font-size: 16px;
    font-size: 1.6rem;
    font-weight: 500;

    width: auto;
    padding: 15px 30px;

    cursor: pointer;
    white-space: normal;
    text-decoration: none;

    color: #fff;
    border: 0;
    background-color: #434a54;
}

input[type='button']:focus,
input[type='button']:hover
{
    color: #fff;
    background-color: #0073e5;
}

input[type='button'].small
{
    padding: 8px 16px;
}

input[type='reset']
{
    font-size: 16px;
    font-size: 1.6rem;
    font-weight: 500;

    width: auto;
    padding: 15px 30px;

    cursor: pointer;
    white-space: normal;
    text-decoration: none;

    color: #fff;
    border: 0;
    background-color: #434a54;
}

input[type='reset']:focus,
input[type='reset']:hover
{
    color: #fff;
    background-color: #0073e5;
}

input[type='reset'].small
{
    padding: 8px 16px;
}

input[type='submit']
{
    font-size: 16px;
    font-size: 1.6rem;
    font-weight: 500;

    width: auto;
    padding: 15px 30px;

    cursor: pointer;
    white-space: normal;
    text-decoration: none;

    color: #fff;
    border: 0;
    background-color: #434a54;
}

input[type='submit']:focus,
input[type='submit']:hover
{
    color: #fff;
    background-color: #0073e5;
}

input[type='submit'].small
{
    padding: 8px 16px;
}

.button
{
    font-size: 16px;
    font-size: 1.6rem;
    font-weight: 500;

    display: inline-block;

    width: auto;
    padding: 15px 30px;

    cursor: pointer;
    white-space: normal;
    text-decoration: none;

    color: #fff;
    border: 0;
    background-color: #434a54;
}

.button:focus,
.button:hover
{
    color: #fff;
    background-color: #0073e5;
}

.entry-content .button:focus,
.entry-content .button:hover
{
    color: #fff;
}

a.button.small
{
    padding: 8px 16px;
}

input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button
{
    display: none;
}

/* Tables
--------------------------------------------- */
table
{
    line-height: 2;

    width: 100%;
    margin-bottom: 40px;

    border-spacing: 0;
    border-collapse: collapse;

    word-break: break-all;
}

tbody
{
    border-bottom: 1px solid #eee;
}

td
{
    padding: 6px;

    text-align: left;

    border-top: 1px solid #eee;
}

td:first-child
{
    padding-left: 0;
}

th
{
    font-weight: 400;

    padding: 0 6px;

    text-align: left;
}

th:first-child
{
    padding-left: 0;
}

/* Accessibility
--------------------------------------------- */
/* Screen Reader Text
--------------------------------------------- */
.screen-reader-shortcut,
.screen-reader-text,
.screen-reader-text span
{
    position: absolute !important;

    overflow: hidden;
    clip: rect(0, 0, 0, 0);

    width: 1px;
    height: 1px;

    word-wrap: normal !important;

    border: 0;
}

.screen-reader-shortcut:focus,
.screen-reader-text:focus,
.widget_search input[type='submit']:focus
{
    font-size: 1em;
    font-weight: 600;

    z-index: 100000;

    display: block;
    clip: auto !important;
    /* Above WP toolbar. */

    width: auto;
    height: auto;
    padding: 15px 23px 14px;

    text-decoration: none;

    color: #434a54;
    background: #fff;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, .6);
}

.more-link
{
    position: relative;
}

/* Skip Links
------------------------------------------------ */
.genesis-skip-link
{
    margin: 0;
}

.genesis-skip-link .skip-link-hidden
{
    display: none;
    visibility: hidden;
}

.genesis-skip-link li
{
    width: 0;
    height: 0;

    list-style: none;
}

/* Display outline on focus */
:focus
{
    color: #434a54;
    outline: #ccc solid 1px;
}

/* Structure and Layout
-------------------------------------- */
/* Site Container
--------------------------------------------- */
.site-container
{
    animation: fadein 1s;
    word-wrap: break-word;
}

.site-container button:disabled,
.site-container button:disabled:hover,
.site-container input:disabled,
.site-container input:disabled:hover,
.site-container input[type='button']:disabled,
.site-container input[type='button']:disabled:hover,
.site-container input[type='reset']:disabled,
.site-container input[type='reset']:disabled:hover,
.site-container input[type='submit']:disabled,
.site-container input[type='submit']:disabled:hover,
.site-container button:disabled:focus,
.site-container input:disabled:focus,
.site-container input[type='button']:disabled:focus,
.site-container input[type='reset']:disabled:focus,
.site-container input[type='submit']:disabled:focus
{
    cursor: not-allowed;

    color: #777;
    border-width: 0;
    background-color: #eee;
}

@keyframes fadein
{
    from
    {
        opacity: 0;
    }
    to
    {
        opacity: 1;
    }
}

.content,
.wrap
{
    width: 85%;
    max-width: 1140px;
    margin-right: auto;
    margin-left: auto;
}

.content
{
    padding-top: 80px;
}

/* Content
--------------------------------------------- */

/* Single-post
--------------------------------------------- */
@supports not ((display: -ms-grid) or (display: grid))
{
    .single .content
    {
        max-width: 600px;
        margin: 0 auto;
    }
}

@supports ((display: -ms-grid) or (display: grid))
{
    .single .content
    {
        width: 100%;
        max-width: 100%;
    }
    .single .entry
    {
        display: -ms-grid;
        display:     grid;

        -ms-grid-columns: 1fr 1fr 640px 1fr 1fr;
        grid-template-columns: 1fr 1fr 640px 1fr 1fr;
        -ms-grid-rows: auto;
        grid-template-rows: auto;
    }
    .single .entry-header,
    .single .entry-footer
    {
        -ms-grid-column: 3;
            grid-column: 3;
    }
    .single .entry-content
    {
        grid-column: 2 / 4;
    }
}

/* Archives
--------------------------------------------- */

.archive-description
{
    width: 100%;
    margin-bottom: 40px;

    grid-column: 1 / -1;
}

.archive-description p:last-child
{
    margin-bottom: 0;
}

.archive-description .entry-title
{
    font-size: 20px;
    font-size: 2rem;
    font-weight: 500;

    margin-bottom: 10px;
}

.content-archive .content .entry
{
    margin-bottom: 0;
    padding: 0;
}

.content-archive .content .entry-meta a
{
    text-decoration: none;

    color: #333;
}

.content-archive .content .entry-meta a:hover,
.content-archive .content .entry-meta a:focus
{
    color: #c3251d;
}

/* Common Classes
---------------------------------------*/
/* Avatar
--------------------------------------------- */
.avatar
{
    float: left;

    border-radius: 50%;
}

.author-box .avatar,
.alignleft .avatar
{
    margin-right: 20px;
}

.alignright .avatar
{
    margin-left: 20px;
}

.comment .avatar
{
    margin: 0 15px 20px 0;
}

/* Genesis
--------------------------------------------- */
.after-entry
{
    margin-bottom: 40px;
    padding: 20px 30px;

    box-shadow: 0 0 20px rgba(0, 0, 0, .05);
}

.after-entry .widget:last-of-type
{
    margin-bottom: 0;
}

.after-entry .breadcrumb
{
    font-size: 16px;
    font-size: 16px;
    font-size: 1.6rem;

    margin-bottom: 40px;
    padding-bottom: 10px;

    border-bottom: 1px solid #eee;
}

.author-box
{
    margin-bottom: 40px;
}

.author-box p:last-child
{
    margin-bottom: 0;
}

/* Search Form
--------------------------------------------- */
.search-form
{
    overflow: hidden;
}

.entry-content .search-form
{
    width: 50%;
    margin-bottom: 40px;
}

.post-password-form input[type='submit'],
.search-form input[type='submit']
{
    margin-top: 10px;
}

.widget_search input[type='submit']
{
    position: absolute;

    clip: rect(0, 0, 0, 0);

    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;

    border: 0;
}

/* Titles
--------------------------------------------- */
.archive-title,
.author-box-title
{
    font-size: 20px;
    font-size: 2rem;
    font-weight: 500;

    margin-bottom: 10px;
}

.entry-title
{
    font-size: 36px;
    font-size: 3.6rem;

    margin-bottom: 10px;
}

.entry-title a
{
    text-decoration: none;

    color: #434a54;
}

.entry-title a:focus,
.entry-title a:hover
{
    color: #0073e5;
}

.sidebar .widget-title a
{
    text-decoration: none;

    color: #434a54;
}

.widget-title
{
    font-size: 18px;
    font-size: 1.8rem;
    font-weight: 500;

    margin-bottom: 20px;
}

.entry-meta
{
    font-size: .8em;
    font-weight: 500;
    line-height: 1;

    display: -ms-flexbox;
    display: flex;

    margin-bottom: 20px;

    -ms-flex-align: center;
    align-items: center;
}

.entry-meta .entry-author
{
    padding: 0 5px;

    opacity: .6;
    border-right: 1px solid;
}

.entry-meta .entry-modified-time
{
    padding: 0 5px;

    opacity: .6;
}

.entry-meta .entry-author-link
{
    text-decoration: none;

    color: inherit;
}

/* WordPress
--------------------------------------------- */
.aligncenter
{
    text-align: center;
}

a.aligncenter img
{
    display: block;

    margin: 0 auto;
}

a.alignnone
{
    display: inline-block;
}

.alignleft
{
    float: left;

    text-align: left;
}

.alignright
{
    float: right;

    text-align: right;
}

a.alignleft,
a.alignnone,
a.alignright
{
    max-width: 100%;
}

img.centered,
.aligncenter
{
    display: block;

    margin: 0 auto 30px;
}

img.alignnone,
.alignnone
{
    margin-bottom: 15px;
}

a.alignleft,
img.alignleft,
.wp-caption.alignleft
{
    margin: 0 20px 20px 0;
}

a.alignright,
img.alignright,
.wp-caption.alignright
{
    margin: 0 0 20px 20px;
}

.gallery-caption,
.wp-caption-text
{
    font-size: 14px;
    font-size: 1.4rem;
    font-weight: 500;

    margin: 0;

    text-align: center;
}

.entry-content p.wp-caption-text
{
    margin-bottom: 0;
}

.entry-content .wp-audio-shortcode,
.entry-content .wp-playlist,
.entry-content .wp-video
{
    margin: 0 0 30px;
}

/* ## Gutenberg
--------------------------------------------- */
.alignfull
{
    width: auto;
    max-width: 1000%;
    margin-right: calc(50% - 50vw);
    margin-left: calc(50% - 50vw);
}

.alignwide
{
    width: auto;
    max-width: 1000%;
    margin-right: calc(25% - 25vw);
    margin-left: calc(25% - 25vw);
}

.wp-block-image figcaption
{
    margin: 0 auto 2em;
}

.wp-block-button
{
    display: block;

    width: 100%;

    text-align: center;

    background: transparent;
}

.wp-block-button a
{
    display: inline-block;
}

.wp-block-button a:hover,
.wp-block-button a:focus
{
    color: #fff;
}

.wp-block-pullquote cite
{
    font-style: normal;
}

.wp-block-gallery .blocks-gallery-image
{
    margin-right: 0;
}

p.wp-block-subhead:after
{
    display: block;

    padding-top: 30px;

    content: '';

    border-bottom: 1px solid #ddd;
}

/* Site Header
---------------------------------------------- */
.site-header
{
    position: relative;

    padding: 10px 30px;

    background-color: #fff;
    box-shadow: 0 5px 20px rgba(0, 0, 0, .05);

    -ms-flex-align: center;
    align-items: center;
}

@supports not ((display: -ms-grid) or (display: grid))
{
    .site-header
    {
        display: -ms-flexbox;
        display: flex;

        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
}

@supports ((display: -ms-grid) or (display: grid))
{
    .site-header
    {
        display: -ms-grid;
        display:     grid;

        -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    }
}

.site-header .ion-android-search
{
    width: 20px;

    vertical-align: middle;
}

/* Title Area
--------------------------------------------- */
.wp-custom-logo .title-area
{
    max-width: 350px;
    margin-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}

@supports ((display: -ms-grid) or (display: grid))
{
    .title-area
    {
        -ms-flex-order: 2;
        order: 2;
        justify-self: center;
    }
    .wp-custom-logo .title-area
    {
        margin: 0;
    }
    @media only screen and (min-width: 960px)
    {
        .title-area
        {
            justify-self: auto;
            -ms-flex-order: 0;
            order: 0;
        }
    }
}

.site-title
{
    font-size: 20px;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1;

    margin-bottom: 0;
}

.site-title a,
.site-title a:focus,
.site-title a:hover
{
    text-decoration: none;

    color: #434a54;
}

.wp-custom-logo .site-title
{
    position: absolute !important;

    overflow: hidden;
    clip: rect(0, 0, 0, 0);

    width: 1px;
    height: 1px;

    word-wrap: normal !important;

    border: 0;
}

.site-description
{
    position: absolute !important;

    overflow: hidden;
    clip: rect(0, 0, 0, 0);

    width: 1px;
    height: 1px;

    word-wrap: normal !important;

    border: 0;
}

/* Header Search
--------------------------------------------- */
.nav-container
{
    display: -ms-flexbox;
    display: flex;
        flex-direction: row-reverse;

    -ms-flex: 1;
        flex: 1;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-direction: row-reverse;
}

.header-search-container
{
    position: fixed;
    z-index: 10001;
    top: 30px;
    left: 0;

    display: none;

    width: 100%;
    height: 100%;
    padding: 10px 20px;

    opacity: 0;
    background-color: #fff;
}

.header-search-container .search-form,
.header-search-container input[type='search']
{
    height: 100%;
}

.header-search-container .search-form
{
    transition: all .8s ease-in-out;
    transform: translate3d(10px, 0, 0);
}

.search-visible .header-search-container
{
    opacity: 1;
}

.header-search-container:target
{
    transform: none;

    opacity: 1;
    outline: none;
}

.header-search-container:target .search-form
{
    transform: none;

    opacity: 1;
}

.header-search-container input[type='search']
{
    font-size: 2em;

    padding-left: 0;

    text-align: center;

    border: 0;
}

.toggle-header-search
{
    justify-self: end;
    -ms-flex-order: 3;
    order: 3;
}

.toggle-header-search.close
{
    font-size: 24px;
    font-size: 2.4rem;

    position: absolute;
    top: 20px;
    right: 10px;

    padding: 0 20px;

    color: #434a54;
}

.ionicons
{
    vertical-align: middle;
}

/* Site Navigation
--------------------------------------------------- */
.genesis-nav-menu
{
    line-height: 1;

    clear: both;

    width: 100%;
}

.genesis-nav-menu .menu-item
{
    position: relative;

    display: block;
}

.genesis-nav-menu .menu-item:focus,
.genesis-nav-menu .menu-item:hover
{
    position: relative;
}

.genesis-nav-menu .menu-item:focus > .sub-menu,
.genesis-nav-menu .menu-item:hover > .sub-menu
{
    left: auto;

    display: block;

    opacity: 1;
}

.genesis-nav-menu a
{
    font-size: 15px;
    font-size: 1.5rem;
    font-weight: 500;

    display: block;

    padding-top: 14px;
    padding-bottom: 14px;

    text-decoration: none;
    letter-spacing: 0;

    color: #434a54;
    outline-offset: -1px;
}

.genesis-nav-menu a:focus,
.genesis-nav-menu a:hover,
.genesis-nav-menu .current-menu-item > a,
.genesis-nav-menu .sub-menu .current-menu-item > a:focus,
.genesis-nav-menu .sub-menu .current-menu-item > a:hover
{
    text-decoration: none;

    color: #0073e5;
}

.genesis-nav-menu .genesis-nav-menu:hover > .menu-item,
.genesis-nav-menu .genesis-nav-menu:focus > .menu-item
{
    opacity: .5;
}

.genesis-nav-menu .genesis-nav-menu .menu-item:hover,
.genesis-nav-menu .genesis-nav-menu .menu-item:focus
{
    opacity: 1;
}

.genesis-nav-menu .sub-menu
{
    position: static;
    z-index: 99;

    display: block;
    clear: both;

    width: 100%;
    margin: 0;
    padding-left: 15px;

    opacity: 1;
}

.genesis-nav-menu .sub-menu a
{
    font-size: 14px;
    font-size: 1.4rem;

    position: relative;

    width: 100%;

    word-wrap: break-word;

    background-color: #fff;
}

.genesis-nav-menu .sub-menu:focus-within
{
    opacity: 1;
}

/* Avoid flash of desktop menu on mobile devices.
----------------------------------------------
.js nav {
	display: none;
	position: relative;

	@media only screen and (min-width: $standard-screen-width) {
		display: block;
	}
}*/
/* Responsive Menu
--------------------------------------------- */
.menu .menu-item:focus
{
    position: static;
}

.menu .menu-item > a:focus + ul.sub-menu,
.menu .menu-item.sfHover > ul.sub-menu
{
    left: auto;

    opacity: 1;
}

.genesis-responsive-menu
{
    position: relative;

    display: none;
}

.genesis-responsive-menu .genesis-nav-menu .menu-item:hover > .sub-menu,
.genesis-responsive-menu .genesis-nav-menu .menu-item:focus > .sub-menu
{
    display: none;
}

.genesis-responsive-menu .genesis-nav-menu .sub-menu
{
    position: static;
    z-index: 99;
    left: -9999px;

    display: none;
    clear: both;

    width: 100%;
    margin: 0;
    padding-left: 15px;

    opacity: 1;
}

/* ## Menu Toggles
--------------------------------------------- */
.menu-toggle
{
    line-height: 1;

    position: relative;
    z-index: 9999;

    display: block;
    overflow: visible;
    clip: auto;

    width: 30px;
    padding: 27px 0;
    padding: 2.7rem 0;
    padding-right: 1em;

    cursor: pointer;
    text-indent: -99999px;

    color: #434a54;
    background-color: transparent;

    justify-self: start;
    -ms-flex-order: 1;
    order: 1;
}

.menu-toggle:hover,
.menu-toggle:focus
{
    color: #434a54;
    outline: none;
    background: none;
    box-shadow: none;
}

.menu-toggle:focus
{
    outline: none;
    background: none;
}

.menu-toggle span
{
    position: relative;

    display: block;
    float: right;
    overflow: visible;
    clip: auto;

    width: 25px;
    width: 2.5rem;
    height: 2px;
    height: .2rem;
    margin-top: 2px;
    margin-top: .2rem;
    margin-left: .236em;

    transition: background 0s .15s;

    border-radius: 1rem;
    background: #434a54;
}

.menu-toggle span::before,
.menu-toggle span::after
{
    position: absolute;
    left: 0;

    display: block;

    width: 100%;
    height: 2px;
    height: .2rem;

    content: ' ';

    border-radius: 1rem;
    background-color: #434a54;
}

.menu-toggle span::before
{
    top: -7px;
    top: -.7rem;

    transition: top .15s .15s, transform .15s 0s;
}

.menu-toggle span::after
{
    bottom: -7px;
    bottom: -.7rem;

    transition: bottom .15s .15s, transform .15s 0s;
}

.menu-toggle.activated span
{
    background: none;
}

.menu-toggle.activated span::before
{
    top: 0;

    transition: top .15s 0s, transform .15s .15s;
    transform: rotate(45deg);
}

.menu-toggle.activated span::after
{
    bottom: 0;

    transition: bottom .15s 0s, transform .15s .15s;
    transform: rotate(-45deg);
}

.sub-menu-toggle
{
    position: absolute;
    top: .25em;
    right: 0;

    margin: 0 -.75em;
    padding: .75em;

    background: none;
}

.sub-menu-toggle:hover,
.sub-menu-toggle:focus
{
    background: none;
}

.sub-menu-toggle:before
{
    display: block;

    margin: 2px 0 -2px;
    margin: .2rem 0 -.2rem;

    content: '';

    border: 4px solid transparent;
    border: .4rem solid transparent;
    border-top-color: #434a54;
}

.sub-menu-toggle.activated:before
{
    margin: -2px 0 2px;
    margin: -.2rem 0 .2rem;

    transform: rotate(180deg);
}

/* Header Menu
--------------------------------------------- */

/* Footer Menu
--------------------------------------------- */
.nav-secondary
{
    margin-top: 10px;
}

.nav-secondary .genesis-nav-menu
{
    line-height: 1.5;
}

.nav-secondary .menu-item
{
    display: inline-block;
}

.nav-secondary a
{
    margin-right: 10px;
    margin-left: 10px;
    padding: 0;
}

/* Content Area
--------------------------------------------- */
/* Entry Content
--------------------------------------------- */
.entry
{
    margin-bottom: 40px;
}

.entry-content ol,
.entry-content ul
{
    margin-bottom: 30px;
    margin-left: 40px;
}

.entry-content ol > li
{
    list-style-type: decimal;
}

.entry-content ul > li
{
    list-style-type: disc;
}

.entry-content ol ol,
.entry-content ul ul
{
    margin-bottom: 0;
}

.entry-content code
{
    background-color: #f5f5f5;
}

.entry-content .caption
{
    font-size: 14px;
    font-size: 1.4rem;
    font-weight: 500;

    margin-top: -20px;

    text-align: center;
}

.content .sticky
{
    padding: 30px;

    background-color: #f5f5f5;
}

/* Entry Meta
--------------------------------------------- */
.entry-meta p
{
    font-size: 16px;
    font-size: 1.6rem;

    margin-bottom: 0;
}

.entry-header .entry-meta
{
    margin-bottom: 20px;
}

.entry-footer .entry-meta
{
    padding-top: 20px;

    border-top: 1px solid #eee;
}

.entry-categories,
.entry-tags
{
    display: block;
}

.entry-comments-link:before
{
    margin: 0 6px 0 2px;

    content: '\2014';
}

/* Pagination
--------------------------------------------- */
.pagination
{
    clear: both;

    margin: 60px 0;
}

.adjacent-entry-pagination
{
    margin-bottom: 0;
}

.archive-pagination
{
    width: 100%;

    text-align: center;

    grid-column: 1 / -1;
}

.archive-pagination li
{
    display: inline;
}

.archive-pagination li a
{
    font-size: 16px;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1;

    margin-bottom: 4px;
    padding: 8px 12px;

    cursor: pointer;
    text-decoration: none;

    color: #434a54;
    border-radius: 100px;
    background-color: #f5f5f5;
}

.archive-pagination li a:focus,
.archive-pagination li a:hover,
.archive-pagination li.active a
{
    color: #fff;
    background-color: #434a54;
}

/* Entry Comments
--------------------------------------------- */
.entry-comments
{
    font-size: 18px;
    font-size: 1.8rem;

    margin-bottom: 40px;
}

.comment-list li
{
    padding: 40px 0 0 30px;
}

.comment-list .depth-1
{
    padding-left: 0;
}

.comment-list .bypostauthor
{
    font-size: inherit;
}

.comment-header
{
    margin-bottom: 30px;
}

.comment-content
{
    clear: both;
}

.comment-content ul > li
{
    list-style-type: disc;
}

.comment-respond
{
    font-size: 18px;
    font-size: 1.8rem;

    margin-bottom: 40px;
}

.comment-respond input[type='email'],
.comment-respond input[type='text'],
.comment-respond input[type='url']
{
    width: 50%;
}

.comment-respond label
{
    display: block;

    margin-right: 12px;
}

.comment-header p
{
    margin-bottom: 0;
}

.entry-pings
{
    font-size: 18px;
    font-size: 1.8rem;

    margin-bottom: 40px;
}

.entry-pings .reply
{
    display: none;
}

/* Sidebar
------------------------------------------------ */
.sidebar
{
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 1.5;
}

.sidebar .widget
{
    margin-bottom: 40px;
}

.sidebar p
{
    margin-bottom: 20px;
}

/* Widgets
------------------------------------------------------------ */
.widget
{
    margin-bottom: 40px;
}

.widget p:last-child,
.widget ul > li:last-of-type
{
    margin-bottom: 0;
}

.widget ul > li
{
    margin-bottom: 10px;
}

.widget ul > li:last-of-type
{
    padding-bottom: 0;
}

.widget ol > li
{
    padding-left: 20px;

    list-style-position: inside;
    list-style-type: decimal;

    text-indent: -20px;
}

.widget li li
{
    margin: 0 0 0 30px;
    padding: 0;

    border: 0;
}

.widget_calendar table
{
    width: 100%;
}

.widget_calendar td,
.widget_calendar th
{
    text-align: center;
}

/* Featured Content
--------------------------------------------- */
.featured-content .entry
{
    margin-bottom: 20px;

    border-bottom: 1px solid #eee;
}

.featured-content .entry:last-of-type
{
    margin-bottom: 0;

    border-bottom: none;
}

.featured-content .entry-image
{
    width: 75px;
    height: 75px;
}

.featured-content .entry-title
{
    font-size: 16px;
    font-size: 1.6rem;

    margin-top: 10px;
    margin-bottom: 5px;
}

/* Before Footer
-------------------------------------------------- */
.before-footer
{
    padding: 100px 0;
    padding: 10rem 0;

    color: #fff;
    background: #222;
}

/* Footer Widgets
-------------------------------------------------- */
.footer-widgets
{
    font-size: 18px;
    font-size: 1.8rem;

    clear: both;

    padding: 60px 0;
}

@supports not ((display: -ms-grid) or (display: grid))
{
    @media only screen and (min-width: 960px)
    {
        .footer-widgets
        {
            display: -ms-flexbox;
            display: flex;

            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
        }
    }
}

@supports ((display: -ms-grid) or (display: grid))
{
    .footer-widgets
    {
        display: -ms-grid;
        display:     grid;

        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -ms-grid-columns: (1fr)[8];
        grid-template-columns: repeat(8, 1fr);
    }
}

.footer-widgets .widget:last-child
{
    margin-bottom: 0;
}

.footer-widgets + .wrap
{
    font-size: 12px;
    font-size: 1.2rem;
    font-weight: 500;

    padding: 30px 0;

    letter-spacing: .1em;
    text-transform: uppercase;

    opacity: .8;
}

.footer-widget-area
{
    font-size: 16px;
    font-size: 1.6rem;

    margin-bottom: 40px;
    margin-bottom: 4rem;
}

.footer-widget-area:last-of-type
{
    margin-bottom: 0;

    grid-column: 1 / -1;
}

@supports not ((display: -ms-grid) or (display: grid))
{
    @media only screen and (min-width: 960px)
    {
        .footer-widget-area
        {
            margin-left: 2.564102564102564%;

            -ms-flex: 1;
                flex: 1;
        }
        .footer-widget-area:first-of-type
        {
            margin-left: 0;
        }
    }
}

@supports ((display: -ms-grid) or (display: grid))
{
    .footer-widget-area
    {
        -ms-grid-column-span: 4;
        grid-column-end: span 4;
    }
    @media only screen and (min-width: 960px)
    {
        .footer-widget-area
        {
            -ms-grid-column-span: 1;
            grid-column-end: span 1;
        }
        .footer-widget-area:last-of-type
        {
            -ms-grid-column-span: 2;
            -ms-grid-column: 7;
                grid-column: 7 / span 2;
        }
    }
}

.footer-widget-area .widget
{
    display: block;

    width: 100%;
}

.footer-widget-area .widget:last-of-type
{
    margin-bottom: 0;
}

.footer-widget-area .widget-title
{
    font-size: 14px;
    font-size: 1.4rem;
    font-weight: 600;

    margin-bottom: 30px;

    letter-spacing: .1em;
    text-transform: uppercase;
}

/* Site Footer
--------------------------------------------------- */
.site-footer
{
    font-size: 15px;
    font-size: 1.5rem;
    line-height: 1.5;
}

.site-footer p
{
    margin-bottom: 0;
}

/* Plugins
--------------------------------------------- */
/* Genesis eNews Extended
--------------------------------------------- */
.enews form + p
{
    margin-top: 20px;
}

.after-entry .enews
{
    padding: 10px;

    text-align: center;
}

.sidebar .enews
{
    padding: 30px;

    background-color: #f5f5f5;
}

.enews-widget input
{
    font-size: 16px;
    font-size: 1.6rem;

    margin-bottom: 10px;
}

.enews-widget input[type='submit']
{
    width: 100%;
    margin: 0;
}

.after-entry .enews-widget input
{
    text-align: center;
}

/* Genesis Simple FAQ
--------------------------------------------- */
.gs-faq__question
{
    padding-right: 0;
    padding-left: 0;

    color: #434a54;
    border-bottom: 1px solid #eee;
    background: transparent;
}

.gs-faq__question:focus,
.gs-faq__question:hover
{
    color: #0073e5;
    background: transparent;
}

.gs-faq__question:after
{
    font-family: dashicons;

    float: right;

    content: '\f132';
}

.gs-faq__question.gs-faq--expanded:after
{
    content: '\f460';
}

/* Jetpack
--------------------------------------------- */
#wpstats
{
    display: none;
}

/* ## Front Page
--------------------------------------------- */
.home .content
{
    width: 100%;
    max-width: 100%;
}

.front-page-1,
.front-page-2,
.front-page-3,
.front-page-4,
.front-page-5
{
    padding: 60px 0;
    padding: 6rem 0;
}

.front-page-1
{
    padding: calc(20vw + 7rem) 0 20vw;
}

@media only screen and (min-width: 800px)
{
    @supports ((display: -ms-grid) or (display: grid))
    {
        .content-archive .content
        {
            display: -ms-grid;
            display:     grid;

            grid-gap: 40px;
            grid-template-columns: 1fr 1fr;
            -ms-grid-columns: 1fr 1fr;
        }
    }
    @supports not ((display: -ms-grid) or (display: grid))
    {
        .content-archive .content
        {
            display: -ms-flexbox;
            display: flex;

            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
            -ms-flex-pack: justify;
            justify-content: space-between;
        }
        .content-archive .content .entry
        {
            width: 48%;
        }
    }
}

@media only screen and (min-width: 960px)
{
    .sidebar-content .content,
    .content-sidebar .content
    {
        width: 65%;
    }
    .sidebar-content .content
    {
        -ms-flex-order: 2;
        order: 2;
    }
    .sidebar-content .sidebar
    {
        -ms-flex-order: 1;
        order: 1;
    }
    .archive-description
    {
        margin-bottom: 60px;
    }
    .after-entry
    {
        margin-bottom: 60px;
        padding: 40px 60px;
    }
    .author-box
    {
        margin-bottom: 60px;
        padding: 30px;

        background-color: #f5f5f5;
    }
    .site-header
    {
        position: fixed;
        z-index: 9999;

        width: 100%;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    @supports ((display: -ms-grid) or (display: grid))
    {
        .site-header
        {
            -ms-grid-columns: 65px 1fr 35px;
            grid-template-columns: 65px 1fr 35px;
        }
    }
    .home .site-header
    {
        transition: box-shadow .4s ease;

        box-shadow: none;
    }
    .home .site-header.scrolled
    {
        box-shadow: 0 0 20px rgba(0, 0, 0, .05);
    }
    .nav-container
    {
            flex-direction: row;

        -ms-flex-direction: row;
    }
    .genesis-nav-menu
    {
        display: -ms-flexbox;
        display: flex;
    }
    .genesis-nav-menu .menu-item
    {
        display: inline-block;
    }
    .genesis-nav-menu .menu-item.seperator
    {
        margin-left: auto;
    }
    .genesis-nav-menu .menu-item:focus .sub-menu:focus,
    .genesis-nav-menu .menu-item:hover .sub-menu:hover
    {
        z-index: 100;
    }
    .genesis-nav-menu > .menu-bold > a
    {
        font-weight: 600;
    }
    .genesis-nav-menu > .menu-highlight > a
    {
        margin-left: 15px;
        padding-right: 20px;
        padding-left: 20px;

        color: #fff;
        border: 1px solid #434a54;
        border-radius: 3px;
        background-color: #434a54;
    }
    .genesis-nav-menu > .menu-highlight-light > a
    {
        margin-left: 15px;
        padding-right: 20px;
        padding-left: 20px;

        border: 1px solid;
        border-radius: 3px;
    }
    .genesis-nav-menu > .menu-highlight > a:hover,
    .genesis-nav-menu > .menu-highlight > a:focus
    {
        background-color: #0073e5;
    }
    .genesis-nav-menu > .menu-highlight-light > a:hover,
    .genesis-nav-menu > .menu-highlight-light > a:focus
    {
        color: #fff;
        background-color: #434a54;
    }
    .genesis-nav-menu > .menu-item-has-children > a:after
    {
        display: inline-block;

        margin: .2rem .4rem -.2rem;

        content: '';

        border: 4px solid transparent;
        border: .4rem solid transparent;
        border-top-color: #434a54;
    }
    .genesis-nav-menu a:focus:after,
    .genesis-nav-menu a:hover:after,
    .genesis-nav-menu .current-menu-item > a:after,
    .genesis-nav-menu .sub-menu .current-menu-item > a:focus:after,
    .genesis-nav-menu .sub-menu .current-menu-item > a:hover:after
    {
        border-top-color: #0073e5;
    }
    .genesis-nav-menu .sub-menu
    {
        position: absolute;

        width: 180px;
        padding-left: 0;

        transition: opacity .4s ease-in-out;

        opacity: 0;
        border-top: 1px solid #eee;
    }
    .genesis-nav-menu .sub-menu a
    {
        width: 180px;
        padding-top: 15px;
        padding-bottom: 15px;

        border: 1px solid #eee;
        border-top: 0;
    }
    .genesis-nav-menu .sub-menu .sub-menu
    {
        margin: -46px 0 0 179px;
    }
    .genesis-responsive-menu
    {
        display: block;
    }
    .genesis-responsive-menu .genesis-nav-menu .sub-menu
    {
        position: absolute;

        width: 180px;
        padding-left: 0;

        transition: opacity .4s ease-in-out;

        opacity: 0;
        border-top: 1px solid #eee;
    }
    .menu-toggle
    {
        display: none;
    }
    .sub-menu-toggle
    {
        display: none;
    }
    .nav-primary .genesis-nav-menu a
    {
        padding-right: 15px;
        padding-left: 15px;
    }
    .entry
    {
        margin-bottom: 60px;
    }
    .entry-comments
    {
        margin-bottom: 60px;
    }
    .comment-respond
    {
        margin-bottom: 60px;
    }
    .entry-pings
    {
        margin-bottom: 60px;
    }
    .sidebar
    {
        width: 30%;
    }
    .after-entry .enews
    {
        padding-right: 30px;
        padding-left: 30px;
    }
}
