/* Archives
--------------------------------------------- */
@media only screen and (min-width: 800px) {
    @supports ((display: -ms-grid) or (display: grid)) {
            .content-archive .content {
                    display: -ms-grid;
                    display:     grid;

                    grid-gap: 40px;
                    grid-template-columns: 1fr 1fr;
                    -ms-grid-columns: 1fr 1fr;
            }
        }
        @supports not ((display: -ms-grid) or (display: grid))
        {
            
            .content-archive .content
            {
                display: -ms-flexbox;
                display: flex;

                -ms-flex-wrap: wrap;
                    flex-wrap: wrap;
                -ms-flex-pack: justify;
                justify-content: space-between;
            }
            
            .content-archive .content .entry
            {
                width: 48%;
            }
        }
}

.archive-description {
	margin-bottom: 40px;
    grid-column: 1 / -1;
    width: 100%;

	@media only screen and (min-width: $standard-screen-width) {
		margin-bottom: 60px;
	}

	p:last-child {
		margin-bottom: 0;
	}

	.entry-title {
		margin-bottom: 10px;
		font-size: $archive-author-box__entry-title--font-size;
		font-weight: $font-weight--semibold;
	}
}

.content-archive .content .entry {
    margin-bottom: 0;
    padding: 0;
}

.content-archive .content .entry-meta a {
    color: #333;
    text-decoration: none;
}

.content-archive .content .entry-meta a:hover {
    color: #c3251d;
}