/* Common Classes
---------------------------------------*/

/* Avatar
--------------------------------------------- */

.avatar {
	float: left;
	border-radius: 50%;

	.author-box &,
	.alignleft & {
		margin-right: 20px;
	}

	.alignright & {
		margin-left: 20px;
	}

	.comment & {
		margin: 0 15px 20px 0;
	}
}

/* Genesis
--------------------------------------------- */

.after-entry {
	margin-bottom: 40px;
	padding: 20px 30px;
	box-shadow: 0 0 $box-shadow-blur-radius rgba(0, 0, 0, $box-shadow-opacity);

	@media only screen and (min-width: $standard-screen-width) {
		margin-bottom: 60px;
		padding: 40px 60px;
	}

	.widget:last-of-type {
		margin-bottom: 0;
	}

	.breadcrumb {
		margin-bottom: 40px;
		padding-bottom: 10px;
		border-bottom: $border-width $border-style $border-color;
		font-size: 16px;
		font-size: 1.6rem;
	}
}

.author-box {
	margin-bottom: 40px;

	@media only screen and (min-width: $standard-screen-width) {
		margin-bottom: 60px;
		padding: 30px;
		background-color: $author-box--background-color;
	}

	p:last-child {
		margin-bottom: 0;
	}
}

/* Search Form
--------------------------------------------- */

.search-form {
	overflow: hidden;
}

.entry-content .search-form {
	width: 50%;
	margin-bottom: 40px;
}

.post-password-form input[type="submit"],
.search-form input[type="submit"] {
	margin-top: 10px;
}

.widget_search input[type="submit"] {
	clip: rect(0, 0, 0, 0);
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
}

/* Titles
--------------------------------------------- */

.archive-title,
.author-box-title {
	margin-bottom: 10px;
	font-size: $archive-author-box__entry-title--font-size;
	font-weight: $font-weight--semibold;
}

.entry-title {
	margin-bottom: 10px;
	font-size: $entry-title--font-size;

	a {
		color: $entry-title__link--font-color;
		text-decoration: none;
	}

	a:focus,
	a:hover {
		color: $entry-title__link--font-color-hover;
	}
}

.sidebar .widget-title a {
	color: $sidebar__widget-title--font-color;
	text-decoration: none;
}

.widget-title {
	margin-bottom: 20px;
	font-size: $widget-title--font-size;
	font-weight: $font-weight--semibold;
}

.entry-meta {
    margin-bottom: 20px;
    font-size: .8em;
    font-weight: $font-weight--semibold;
    display: flex;
    align-items: center;   
    line-height: 1;
    .entry-author {
        border-right: 1px solid;
        opacity: .6;
        padding: 0 5px;
    }
    .entry-modified-time {
        opacity: .6;
        padding: 0 5px;
    }
    .entry-author-link {
        color: inherit;
        text-decoration: none;
    }
}

/* WordPress
--------------------------------------------- */

.aligncenter {
	text-align: center;
}

a.aligncenter img {
	display: block;
	margin: 0 auto;
}

a.alignnone {
	display: inline-block;
}

.alignleft {
	float: left;
	text-align: left;
}

.alignright {
	float: right;
	text-align: right;
}

a.alignleft,
a.alignnone,
a.alignright {
	max-width: 100%;
}

img.centered,
.aligncenter {
	display: block;
	margin: 0 auto 30px;
}

img.alignnone,
.alignnone {
	margin-bottom: 15px;
}

a.alignleft,
img.alignleft,
.wp-caption.alignleft {
	margin: 0 20px 20px 0;
}

a.alignright,
img.alignright,
.wp-caption.alignright {
	margin: 0 0 20px 20px;
}

.gallery-caption,
.wp-caption-text {
	margin: 0;
	font-size: $entry-content__caption--font-size;
	font-weight: $font-weight--semibold;
	text-align: center;
}

.entry-content p.wp-caption-text {
	margin-bottom: 0;
}

.entry-content .wp-audio-shortcode,
.entry-content .wp-playlist,
.entry-content .wp-video {
	margin: 0 0 30px;
}

/* ## Gutenberg
--------------------------------------------- */

.alignfull {
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    width: auto;
    max-width: 1000%;
}

.alignwide {
    margin-left: calc(25% - 25vw);
    margin-right: calc(25% - 25vw);
    width: auto;
    max-width: 1000%;
}

.wp-block-image {
	figcaption {
		margin: 0 auto 2em;
	}
}

.wp-block-button {
	background: transparent;
	display: block;
	text-align: center;
	width: 100%;
	a {
		display: inline-block;
		&:hover,
		&:focus {
			color: $white;
		}
	}
}

.wp-block-pullquote {
	cite {
		font-style: normal;
	}
}

.wp-block-gallery {
	.blocks-gallery-image {
		margin-right: 0;
	}
}

p.wp-block-subhead:after {
    content: "";
    display: block;
    border-bottom: 1px solid #ddd;
    padding-top: 30px;
}