/* Content Area
--------------------------------------------- */

/* Entry Content
--------------------------------------------- */

.entry {
	margin-bottom: 40px;

	@media only screen and (min-width: $standard-screen-width) {
		margin-bottom: 60px;
	}
}

.entry-content {

	ol,
	ul {
		margin-bottom: 30px;
		margin-left: 40px;
	}

	ol > li {
		list-style-type: decimal;
	}

	ul > li {
		list-style-type: disc;
	}

	ol ol,
	ul ul {
		margin-bottom: 0;
	}

	code {
		background-color: $code--background-color;
	}

	.caption {
		margin-top: -20px;
		font-size: $entry-content__caption--font-size;
		font-weight: $font-weight--semibold;
		text-align: center;
	}
}

.content .sticky {
	padding: 30px;
	background-color: $sticky--background-color;
}

/* Entry Meta
--------------------------------------------- */

.entry-meta {

	p {
		margin-bottom: 0;
		font-size: $entry-meta--font-size;
	}

	.entry-header & {
		margin-bottom: 20px;
	}

	.entry-footer & {
		padding-top: 20px;
		border-top: $border-width $border-style $border-color;
	}
}

.entry-categories,
.entry-tags {
	display: block;
}

.entry-comments-link:before {
	margin: 0 6px 0 2px;
	content: "\2014";
}

/* Pagination
--------------------------------------------- */

.pagination {
	clear: both;
	margin: 60px 0;
}

.adjacent-entry-pagination {
	margin-bottom: 0;
}

.archive-pagination {
    grid-column: 1 / -1;
    text-align: center;
    width: 100%;
	li {
		display: inline;
	}

	li a {
		margin-bottom: 4px;
		padding: 8px 12px;
		color: $archive-pagination--font-color;
		background-color: $archive-pagination--background-color;
        border-radius: 100px;
		font-size: $archive-pagination--font-size;
		font-weight: $font-weight--semibold;
		text-decoration: none;
		cursor: pointer;
        line-height: 1;
	}

	li a:focus,
	li a:hover,
	li.active a {
		color: $archive-pagination--font-color-hover;
		background-color: $archive-pagination--background-color-hover;
	}
}

/* Entry Comments
--------------------------------------------- */

.entry-comments {
	margin-bottom: 40px;
	font-size: $comments--font-size;

	@media only screen and (min-width: $standard-screen-width) {
		margin-bottom: 60px;
	}
}

.comment-list {

	li {
		padding: 40px 0 0 30px;
	}

	.depth-1 {
		padding-left: 0;
	}

	.bypostauthor {
		font-size: inherit;
	}
}

.comment-header {
	margin-bottom: 30px;
}

.comment-content {
	clear: both;

	ul > li {
		list-style-type: disc;
	}
}

.comment-respond {
	margin-bottom: 40px;
	font-size: $comments--font-size;

	@media only screen and (min-width: $standard-screen-width) {
		margin-bottom: 60px;
	}

	input[type="email"],
	input[type="text"],
	input[type="url"] {
		width: 50%;
	}

	label {
		display: block;
		margin-right: 12px;
	}
}

.comment-header p {
	margin-bottom: 0;
}

.entry-pings {
	margin-bottom: 40px;
	font-size: $comments--font-size;

	@media only screen and (min-width: $standard-screen-width) {
		margin-bottom: 60px;
	}

	.reply {
		display: none;
	}
}
