/* Defaults
----------------------------------------------*/

/* Typographical Elements
--------------------------------------------- */

html {
	font-size: 62.5%; /* 10px browser default */
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
    text-rendering: geometricPrecision;
}

/* Chrome fix */
body > div {
	font-size: $body--font-size;
}

body {
	color: $body--font-color;
	background-color: $body--background-color;
	font-family: $body--font-family;
	font-size: $body--font-size;
	font-weight: $font-weight--regular;
    letter-spacing: -0.01em;
	line-height: $line-height--normal;
}

button,
input:focus,
input[type="button"],
input[type="reset"],
input[type="submit"],
textarea:focus,
.button,
.gallery img {
	transition: all 0.2s ease-in-out;
}

a {
	color: $link--font-color;
	text-decoration: none;
	transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

a:focus,
a:hover {
	color: $link--font-color-hover;
	text-decoration: none;
}

p {
	margin: 0 0 30px;
	padding: 0;
}

ol,
ul {
	margin: 0;
	padding: 0;
}

li {
	list-style-type: none;
}

hr {
	clear: both;
	margin: 30px 0;
	border: 0;
	border-top: $border-width $border-style $border-color;
	border-collapse: collapse;
}

b,
strong {
	font-weight: $font-weight--bold;
}

blockquote,
cite,
em,
i {
	font-style: italic;
}

mark {
	background: $mark--background-color;
}

blockquote {
	margin: 30px;

	&:before {
		display: block;
		position: relative;
		top: -10px;
		left: -20px;
		height: 0;
		font-size: 30px;
		font-size: 3rem;
		content: "\201C";
	}
}

/* Headings
--------------------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0 0 20px;
	font-family: $headings--font-family;
	font-weight: $font-weight--semibold;
	line-height: $line-height--small;
}

h1 {
	font-size: $h1--font-size;
}

h2 {
	font-size: $h2--font-size;
}

.entry-content h3,
.entry-content h4 {
	font-weight: $font-weight--semibold;
}

h3 {
	font-size: $h3--font-size;
}

h4 {
	font-size: $h4--font-size;
}

.entry-content h4 {
	margin-top: 40px;
}

h5 {
	font-size: $h5--font-size;
}

h6 {
	font-size: $h6--font-size;
}

/* Objects
--------------------------------------------- */

embed,
iframe,
img,
object,
video,
.wp-caption {
	max-width: 100%;
}

img {
	height: auto;
	vertical-align: top;
}

figure {
	margin: 0;
}

/* Gallery
--------------------------------------------- */

.gallery {
	overflow: hidden;

	img {
		height: auto;
		padding: 4px;
		border: $border-width $border-style $border-color;
	}

	img:focus,
	img:hover {
		border: 1px solid #999;
		outline: none;
	}
}

.gallery-item {
	float: left;
	margin: 0 0 30px;
	text-align: center;

	.gallery-columns-1 & {
		width: 100%;
	}

	.gallery-columns-2 & {
		width: 50%;
	}

	.gallery-columns-3 & {
		width: 33%;
	}

	.gallery-columns-4 & {
		width: 25%;
	}

	.gallery-columns-5 & {
		width: 20%;
	}

	.gallery-columns-6 & {
		width: 16.6666%;
	}

	.gallery-columns-7 & {
		width: 14.2857%;
	}

	.gallery-columns-8 & {
		width: 12.5%;
	}

	.gallery-columns-9 & {
		width: 11.1111%;
	}
}

.gallery-columns-2 .gallery-item:nth-child(2n + 1),
.gallery-columns-3 .gallery-item:nth-child(3n + 1),
.gallery-columns-4 .gallery-item:nth-child(4n + 1),
.gallery-columns-5 .gallery-item:nth-child(5n + 1),
.gallery-columns-6 .gallery-item:nth-child(6n + 1),
.gallery-columns-7 .gallery-item:nth-child(7n + 1),
.gallery-columns-8 .gallery-item:nth-child(8n + 1),
.gallery-columns-9 .gallery-item:nth-child(9n + 1) {
	clear: left;
}

/* Forms
--------------------------------------------- */

input,
select,
textarea {
	width: 100%;
	padding: 15px;
	border: 1px solid #ddd;
	color: $forms--font-color;
	background-color: $forms__background-color;
	font-size: $forms--font-size;
	font-weight: $font-weight--regular;
}

input:focus,
textarea:focus {
	border: 1px solid #999;
	outline: none;
}

input[type="checkbox"],
input[type="image"],
input[type="radio"] {
	width: auto;
}

::-moz-placeholder {
	opacity: 1;
	color: $dark-grey;
}

::-webkit-input-placeholder {
	color: $dark-grey;
}

button {
	width: auto;
	padding: 15px 30px;
	border: 0;
	color: $button--font-color;
	background-color: $button--background-color;
	font-size: $button--font-size;
	font-weight: $font-weight--semibold;
	white-space: normal;
	text-decoration: none;
	cursor: pointer;

	&:focus,
	&:hover {
		color: $button--font-color-hover;
		background-color: $button--background-color-hover;
	}

	&.small {
		padding: 8px 16px;
	}
}

input[type="button"] {
	width: auto;
	padding: 15px 30px;
	border: 0;
	color: $button--font-color;
	background-color: $button--background-color;
	font-size: $button--font-size;
	font-weight: $font-weight--semibold;
	white-space: normal;
	text-decoration: none;
	cursor: pointer;

	&:focus,
	&:hover {
		color: $button--font-color-hover;
		background-color: $button--background-color-hover;
	}

	&.small {
		padding: 8px 16px;
	}
}

input[type="reset"] {
	width: auto;
	padding: 15px 30px;
	border: 0;
	color: $button--font-color;
	background-color: $button--background-color;
	font-size: $button--font-size;
	font-weight: $font-weight--semibold;
	white-space: normal;
	text-decoration: none;
	cursor: pointer;

	&:focus,
	&:hover {
		color: $button--font-color-hover;
		background-color: $button--background-color-hover;
	}

	&.small {
		padding: 8px 16px;
	}
}

input[type="submit"] {
	width: auto;
	padding: 15px 30px;
	border: 0;
	color: $button--font-color;
	background-color: $button--background-color;
	font-size: $button--font-size;
	font-weight: $font-weight--semibold;
	white-space: normal;
	text-decoration: none;
	cursor: pointer;

	&:focus,
	&:hover {
		color: $button--font-color-hover;
		background-color: $button--background-color-hover;
	}

	&.small {
		padding: 8px 16px;
	}
}

.button {
	display: inline-block;
	width: auto;
	padding: 15px 30px;
	border: 0;
	color: $button--font-color;
	background-color: $button--background-color;
	font-size: $button--font-size;
	font-weight: $font-weight--semibold;
	white-space: normal;
	text-decoration: none;
	cursor: pointer;

	&:focus,
	&:hover {
		color: $button--font-color-hover;
		background-color: $button--background-color-hover;
	}

	.entry-content &:focus,
	.entry-content &:hover {
		color: $button--font-color-hover;
	}
}

a.button.small {
	padding: 8px 16px;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button {
	display: none;
}

/* Tables
--------------------------------------------- */

table {
	width: 100%;
	margin-bottom: 40px;
	border-spacing: 0;
	border-collapse: collapse;
	line-height: 2;
	word-break: break-all;
}

tbody {
	border-bottom: $border-width $border-style $border-color;
}

td {
	padding: 6px;
	border-top: $border-width $border-style $border-color;
	text-align: left;

	&:first-child {
		padding-left: 0;
	}
}

th {
	padding: 0 6px;
	font-weight: $font-weight--regular;
	text-align: left;

	&:first-child {
		padding-left: 0;
	}
}

/* Accessibility
--------------------------------------------- */

/* Screen Reader Text
--------------------------------------------- */

.screen-reader-shortcut,
.screen-reader-text,
.screen-reader-text span {
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	position: absolute !important;
	width: 1px;
	height: 1px;
	border: 0;
	word-wrap: normal !important;
}

.screen-reader-shortcut:focus,
.screen-reader-text:focus,
.widget_search input[type="submit"]:focus {
	display: block;
	clip: auto !important;
	z-index: 100000; /* Above WP toolbar. */
	width: auto;
	height: auto;
	padding: 15px 23px 14px;
	color: $body--font-color;
	background: $body--background-color;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	font-size: 1em;
	font-weight: $font-weight--bold;
	text-decoration: none;
}

.more-link {
	position: relative;
}

/* Skip Links
------------------------------------------------ */

.genesis-skip-link {
	margin: 0;

	& .skip-link-hidden {
		display: none;
		visibility: hidden;
	}

	& li {
		width: 0;
		height: 0;
		list-style: none;
	}
}

/* Display outline on focus */
:focus {
	outline: #ccc solid 1px;
	color: $body--font-color;
}
