/* Before Footer
-------------------------------------------------- */
.before-footer {
    background: #222;
    color: #fff;
    padding: 10rem 0;
}

/* Footer Widgets
-------------------------------------------------- */
.footer-widgets {
	clear: both;
	padding: 60px 0;
	font-size: $footer-widgets--font-size;
        @supports not ( (display: -ms-grid) or (display: grid) ) {
            @media only screen and (min-width: $standard-screen-width) {
                display: flex;
                flex-wrap: wrap;
            }
        }

        @supports ( (display: -ms-grid) or (display: grid) ) {
            display: grid;
            flex-wrap: wrap;
            grid-template-columns: repeat(8, 1fr);
        }

	.widget:last-child {
		margin-bottom: 0;
	}
    
    & + .wrap {
        padding: 30px 0;
        font-weight: 500;
        opacity: .8;
        text-transform: uppercase;
        font-size: 1.2rem;
        letter-spacing: 0.1em;
    }
}

.footer-widget-area {
    font-size: 1.6rem;
	margin-bottom: 4rem;
        &:last-of-type {
            margin-bottom: 0;
            grid-column: 1 / -1;
        }
		@supports not ( (display: -ms-grid) or (display: grid) ) {
            @media only screen and (min-width: $standard-screen-width) {
                flex: 1;
                margin-left: 2.564102564102564%;
                &:first-of-type {
                    margin-left: 0;
                }
            }
        }
    
        @supports ( (display: -ms-grid) or (display: grid) ) {
            grid-column-end: span 4;
            
            @media only screen and (min-width: $standard-screen-width) {
                grid-column-end: span 1;
                   &:last-of-type {
                       grid-column: 7 / span 2;
                   }
            }
            
        }
    
        .widget {
            width: 100%;
            display: block;
            &:last-of-type {
                margin-bottom: 0;
            }
        }
        .widget-title {
            font-size: 1.4rem;
            font-weight: 600;
            margin-bottom: 30px;
            text-transform: uppercase;
            letter-spacing: 0.1em
        }
}

/* Site Footer
--------------------------------------------------- */

.site-footer {
	font-size: $site-footer--font-size;
	line-height: $line-height--medium;

	p {
		margin-bottom: 0;
	}
}
