/* Site Header
---------------------------------------------- */

.site-header {
	padding: 10px 30px;
    align-items: center;
	background-color: $site-header--background-color;
	box-shadow: 0 5px $box-shadow-blur-radius rgba(0, 0, 0, $box-shadow-opacity);
    position: relative;
    
    @supports not ( (display: -ms-grid) or (display: grid) ) {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
    }

    @supports ( (display: -ms-grid) or (display: grid) ) {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    
	@media only screen and (min-width: $standard-screen-width) {
        padding-top: 15px;
        padding-bottom: 15px;
        position: fixed;
		z-index: 9999;
		width: 100%;
        @supports ( (display: -ms-grid) or (display: grid) ) {
            grid-template-columns: 65px 1fr 35px;
        }
        .home & {
            box-shadow: none;
            transition: box-shadow 0.4s ease;
            &.scrolled {
                box-shadow: 0 0 $box-shadow-blur-radius rgba(0, 0, 0, $box-shadow-opacity);
            }
        }
	}
}

.site-header .ion-android-search {
    vertical-align: middle;
    width: 20px;
}

/* Title Area
--------------------------------------------- */

.title-area {
	.wp-custom-logo & {
		max-width: 350px;
		padding-top: 5px;
		padding-bottom: 5px;
        margin-right: 15px;
	}
    @supports ( (display: -ms-grid) or (display: grid) ) {
        order: 2;
        justify-self: center;
        .wp-custom-logo & {
            margin: 0;
        }
        @media only screen and (min-width: $standard-screen-width) {
            justify-self: auto;
            order: 0; 
        }
    }
}

.site-title {
	margin-bottom: 0;
	font-size: $site-title--font-size;
	font-weight: $font-weight--semibold;
	line-height: $line-height--smaller;

	a,
	a:focus,
	a:hover {
		color: $site-title__link--font-color;
		text-decoration: none;
	}

	.wp-custom-logo & {
		overflow: hidden;
		clip: rect(0, 0, 0, 0);
		position: absolute !important;
		width: 1px;
		height: 1px;
		border: 0;
		word-wrap: normal !important;
	}
}

.site-description {
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	position: absolute !important;
	width: 1px;
	height: 1px;
	border: 0;
	word-wrap: normal !important;
}

/* Header Search
--------------------------------------------- */

.nav-container {
    display: flex;
    flex: 1;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row-reverse;
    @media only screen and (min-width: $standard-screen-width) {
        flex-direction: row;
    }
}

.header-search-container {
    background-color: #fff;
    display: none;
	height: 100%;
	left: 0;
	opacity: 0;
	padding: 10px 20px;
	position: fixed;
	top: 30px;
	width: 100%;
	z-index: 10001;
}

.header-search-container .search-form,
.header-search-container input[type="search"] {
	height: 100%;
}

.header-search-container .search-form {
    transform: translate3d(10px,0,0);
    transition: all 0.8s ease-in-out;
}

.search-visible .header-search-container {
	opacity: 1;
}

.header-search-container:target {
	transform: none;
    opacity: 1;
    outline: none;
}

.header-search-container:target .search-form {
    transform: none;
    opacity: 1;
}

.header-search-container input[type="search"] {
	border: 0;
	padding-left: 0;
    text-align: center;
    font-size: 2em;
}

.toggle-header-search {
    justify-self: end;
    order: 3
}

.toggle-header-search.close {
	position: absolute;
    top: 20px; 
    padding: 0 20px;
    color: $dark-grey;
    right: 10px;
    font-size: 2.4rem;
}

.ionicons {
    vertical-align: middle;
}