/* ## Front Page
--------------------------------------------- */

.home .content {
    max-width: 100%;
    width: 100%;
}

.front-page-1,
.front-page-2,
.front-page-3,
.front-page-4,
.front-page-5 {
    padding: 6rem 0;
}

.front-page-1 {
    padding: calc(20vw + 7rem) 0 20vw;
    
}