/* Site Navigation
--------------------------------------------------- */

.genesis-nav-menu {
	clear: both;
	width: 100%;
	line-height: 1;
    @media only screen and (min-width: $standard-screen-width) {
        display: flex;   
    }
	.menu-item {
		display: block;
		position: relative;

		@media only screen and (min-width: $standard-screen-width) {
			display: inline-block;
		}
	}

	.menu-item:focus,
	.menu-item:hover {
		position: relative;
	}
    
    .menu-item.seperator {
        @media only screen and (min-width: $standard-screen-width) {
            margin-left: auto;
        }
    }

	@media only screen and (min-width: $standard-screen-width) {

		.menu-item:focus .sub-menu:focus,
		.menu-item:hover .sub-menu:hover {
			z-index: 100;
		}
	}

	.menu-item:focus > .sub-menu,
	.menu-item:hover > .sub-menu {
		display: block;
		left: auto;
		opacity: 1;
	}

	> .menu-bold > a {

		@media only screen and (min-width: $standard-screen-width) {
			font-weight: $font-weight--bold;
		}
	}

	> .menu-highlight > a {

		@media only screen and (min-width: $standard-screen-width) {
			margin-left: 15px;
			padding-right: 20px;
			padding-left: 20px;
			border-radius: 3px;
			color: $menu-highlight__link--font-color;
			background-color: $menu-highlight__link--background-color;
            border: 1px solid $menu-highlight__link--background-color;
		}
	}
    
    > .menu-highlight-light > a {

		@media only screen and (min-width: $standard-screen-width) {
			margin-left: 15px;
			padding-right: 20px;
			padding-left: 20px;
			border-radius: 3px;
			border: 1px solid;
		}
	}

	> .menu-highlight > a:hover,
	> .menu-highlight > a:focus {

		@media only screen and (min-width: $standard-screen-width) {
			background-color: $menu-highlight__link--background-color-hover;
		}
	}
    
    > .menu-highlight-light > a:hover,
	> .menu-highlight-light > a:focus {

		@media only screen and (min-width: $standard-screen-width) {
			background-color: $menu-highlight__link--background-color;
            color: #fff;
		}
	}
    
    > .menu-item-has-children > a {
        
        @media only screen and (min-width: $standard-screen-width) {
            &:after {
                display: inline-block;
                margin: .2rem 0.4rem -.2rem;
                content: '';
                border: 4px solid transparent;
                border: .4rem solid transparent;
                border-top-color: $genesis-nav-menu--font-color;
            }   
        }
        
    }

	a {
		display: block;
		padding-top: 14px;
		padding-bottom: 14px;
		outline-offset: -1px;
		color: $genesis-nav-menu--font-color;
		font-size: $genesis-nav-menu--font-size;
		font-weight: $font-weight--semibold;
		text-decoration: none;
        letter-spacing: 0;
	} 

	a:focus,
	a:hover,
	.current-menu-item > a,
	.sub-menu .current-menu-item > a:focus,
	.sub-menu .current-menu-item > a:hover {
		color: $genesis-nav-menu--font-color-hover;
		text-decoration: none;
        @media only screen and (min-width: $standard-screen-width) {
            &:after {
                border-top-color: $genesis-nav-menu--font-color-hover;
            }
        }
	}
    
    .genesis-nav-menu:hover > .menu-item {
      opacity: 0.5;
    }

    .genesis-nav-menu .menu-item:hover {
      opacity: 1;
    }

	.sub-menu {
		display: block;
		clear: both;
		position: static;
		z-index: 99;
		width: 100%;
		margin: 0;
		padding-left: 15px;
		opacity: 1;

		@media only screen and (min-width: $standard-screen-width) {
			position: absolute;
			width: 180px;
			padding-left: 0;
			border-top: $border-width $border-style $border-color;
			opacity: 0;
			transition: opacity 0.4s ease-in-out;
		}

		a {
			position: relative;
			width: 100%;
			background-color: $genesis-nav-menu__sub-menu__link--background-color;
			font-size: $genesis-nav-menu__sub-menu__link--font-size;
			word-wrap: break-word;

			@media only screen and (min-width: $standard-screen-width) {
				width: 180px;
				padding-top: 15px;
				padding-bottom: 15px;
				border: $border-width $border-style $border-color;
				border-top: 0;
			}
		}

		.sub-menu {

			@media only screen and (min-width: $standard-screen-width) {
				margin: -46px 0 0 179px;
			}
		}
	}

	.sub-menu:focus-within {
		opacity: 1;
	}
}

/* Avoid flash of desktop menu on mobile devices.
----------------------------------------------
.js nav {
	display: none;
	position: relative;

	@media only screen and (min-width: $standard-screen-width) {
		display: block;
	}
}*/

/* Responsive Menu
--------------------------------------------- */

.menu {

	.menu-item:focus {
		position: static;
	}

	.menu-item > a:focus + ul.sub-menu,
	.menu-item.sfHover > ul.sub-menu {
		left: auto;
		opacity: 1;
	}
}

.genesis-responsive-menu {
	display: none;
	position: relative;

	@media only screen and (min-width: $standard-screen-width) {
		display: block;
	}

	.genesis-nav-menu {

		.menu-item:hover > .sub-menu,
		.menu-item:focus > .sub-menu {
			display: none;
		}

		.sub-menu {
			display: none;
			clear: both;
			position: static;
			z-index: 99;
			left: -9999px;
			width: 100%;
			margin: 0;
			padding-left: 15px;
			opacity: 1;

			@media only screen and (min-width: $standard-screen-width) {
				position: absolute;
				width: 180px;
				padding-left: 0;
				border-top: $border-width $border-style $border-color;
				opacity: 0;
				transition: opacity 0.4s ease-in-out;
			}
		}
	}
}

/* ## Menu Toggles
--------------------------------------------- */

.menu-toggle {
    padding: 2.7rem 0;
    padding-right: 1em;
    cursor: pointer;
    background-color: transparent;
    display: block;
    position: relative;
    overflow: visible;
    clip: auto;
    text-indent: -99999px;
    line-height: 1;
    width: 30px;
    z-index: 9999;
    color: $dark-grey;
    &:hover,
    &:focus {
        background: none;
        outline: none;
        box-shadow: none;
        color: $dark-grey;
    }
    &:focus {
        outline: none;
        background: none;
    }
    @media only screen and (min-width: $standard-screen-width) {
		display: none;
	}
    span {
        display: block;
        overflow: visible;
        clip: auto;
        float: right;
        position: relative;
        height: 0.2rem;
        background: $dark-grey;
        transition: background 0s 0.15s;
        width: 2.5rem;
        margin-left: 0.236em;
        margin-top: 0.2rem;
        border-radius: $site-radius;
        &::before,
        &::after {
            position: absolute;
            display: block;
            left: 0;
            width: 100%;
            height: 0.2rem;
            background-color: $dark-grey;
            border-radius: $site-radius;
            content: " ";
        }
        &::before {
            top: -0.7rem;
            transition: top 0.15s 0.15s, transform 0.15s 0s;
        }
        &::after {
            bottom: -0.7rem;
            transition: bottom 0.15s 0.15s, transform 0.15s 0s;
        }
    }
    &.activated span {
        background: none;
        &::before {
            top: 0;
            transform: rotate(45deg);
            transition: top 0.15s 0s, transform 0.15s 0.15s;
        }
        &::after {
            bottom: 0;
            transform: rotate(-45deg);
            transition: bottom 0.15s 0s, transform 0.15s 0.15s;
        }
    }
    
    justify-self: start;
    order: 1;
}

.sub-menu-toggle {
    position: absolute;
    right: 0;
    top: 0.25em;
    background: none;
    padding: 0.75em;
    margin: 0 -0.75em;
    @media only screen and (min-width: $standard-screen-width) {
        display: none;
    }
    &:hover,
    &:focus {
        background: none;
    }
    &:before {
        content: "";
        display: block;
        margin: 0.2rem 0 -0.2rem;
        border: 0.4rem solid transparent;
        border-top-color: $dark-grey;
    }
    &.activated {
        &:before {
            transform: rotate(180deg);
            margin: -0.2rem 0 0.2rem;
        }
    }
}

/* Header Menu
--------------------------------------------- */

.nav-primary {
	.genesis-nav-menu a {
		@media only screen and (min-width: $standard-screen-width) {
			padding-right: 15px;
			padding-left: 15px;
		}
	}
}

/* Footer Menu
--------------------------------------------- */

.nav-secondary {
	margin-top: 10px;

	.genesis-nav-menu {
		line-height: $line-height--medium;
	}

	.menu-item {
		display: inline-block;
	}

	a {
		margin-right: 10px;
		margin-left: 10px;
		padding: 0;
	}
}
