/* Sidebar
------------------------------------------------ */

.sidebar {
	font-size: $sidebar--font-size;
	line-height: $line-height--medium;

	@media only screen and (min-width: $standard-screen-width) {
		width: 30%;
	}

	.widget {
		margin-bottom: 40px;
	}

	p {
		margin-bottom: 20px;
	}
}
