/* Structure and Layout
-------------------------------------- */

/* Site Container
--------------------------------------------- */

.site-container {
	word-wrap: break-word;
	-webkit-animation: fadein 1s;
	animation: fadein 1s;
	& button:disabled,
	& button:disabled:hover,
	& input:disabled,
	& input:disabled:hover,
	& input[type="button"]:disabled,
	& input[type="button"]:disabled:hover,
	& input[type="reset"]:disabled,
	& input[type="reset"]:disabled:hover,
	& input[type="submit"]:disabled,
	& input[type="submit"]:disabled:hover {
		border-width: 0;
		color: $disabled--font-color;
		background-color: $disabled--background-color;
		cursor: not-allowed;
	}
}

@keyframes fadein {

	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@-webkit-keyframes fadein {

	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.content,
.wrap {
    margin-left: auto;
    margin-right: auto;
    max-width: 1140px;
    width: 85%;
}

.content {
    padding-top: 80px;
}

/* Content
--------------------------------------------- */

.sidebar-content .content,
.content-sidebar .content {
	@media only screen and (min-width: $standard-screen-width) {
		width: 65%;
	}
}

.sidebar-content .content {

	@media only screen and (min-width: $standard-screen-width) {
		-webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
	}
}

.sidebar-content .sidebar {

	@media only screen and (min-width: $standard-screen-width) {
		-webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
	}
}

/* Single-post
--------------------------------------------- */

@supports not ( (display: -ms-grid) or (display: grid) ) {
    .single .content {
        margin: 0 auto;
        max-width: 600px;
    }
}

@supports ( (display: -ms-grid) or (display: grid) ) {

    .single .content {
        width: 100%;
        max-width: 100%;   
    }
    
    .single .entry {
        display: grid;
        grid-template-columns: 1fr 1fr 640px 1fr 1fr;;
        grid-template-rows: auto;
    }
    
    .single .entry-header,
    .single .entry-footer {
        grid-column: 3;
    }
    
    .single .entry-content {
        grid-column: 2 / 4;
    }
    
}