// Base Colors
$black: #000;
$dark-grey: #434a54;
$mid-grey: #777;
$light-grey: #ddd;
$blue: #0073e5;
$lighter-grey: #eee;
$lightest-grey: #f5f5f5;
$white: #fff;

// Base Fonts
$base-font: "HK Grotesk", sans-serif;
$header-font:  "Freight-Display-Pro", sans-serif;

// Screen widths, Media queries - WC widths in WC variables
$small-screen-width: 800px;
$standard-screen-width: 960px;

// Border styles
$border-width: 1px;
$border-style: solid;
$border-color: $lighter-grey;

// Box Shadow
$box-shadow-blur-radius: 20px;
$box-shadow-opacity: 0.05;
$site-radius: 1rem;

// Font sizes
$body--font-size: 1.8rem;
$h1--font-size: 3rem;
$h2--font-size: 2.7rem;
$h3--font-size: 2.4rem;
$h4--font-size: 2rem;
$h5--font-size: 1.8rem;
$h6--font-size: 1.6rem;
$button--font-size: 1.6rem;
$archive-author-box__entry-title--font-size: 2rem;
$entry-title--font-size: 3.6rem;
$featured-content__entry-title--font-size: 1.6rem;
$enews-widget__input--font-size: 1.6rem;
$site-title--font-size: 2rem;
$genesis-nav-menu--font-size: 1.5rem;
$genesis-nav-menu__sub-menu__link--font-size: 1.4rem;
$sidebar--font-size: 1.6rem;
$entry-content__caption--font-size: 1.4rem;
$entry-meta--font-size: 1.6rem;
$comments--font-size: 1.8rem;
$footer-widgets--font-size: 1.8rem;
$site-footer--font-size: 1.5rem;
$forms--font-size: 1.8rem;
$widget-title--font-size: 1.8rem;
$archive-pagination--font-size: 1.6rem;
$blockquote__before--font-size: 3rem;
$after-entry__breadcrumb--font-size: 1.6rem;

// Font families
$body--font-family: $base-font;
$headings--font-family: $header-font;

// Font weights
$font-weight--regular: 400;
$font-weight--semibold: 500;
$font-weight--bold: 600;

// Line heights
$line-height--big: 20px;
$line-height--large: 1.75;
$line-height--normal: 1.625;
$line-height--medium: 1.5;
$line-height--medium-small: 1.4;
$line-height--small: 1.2;
$line-height--smaller: 1;

// Font colors
$body--font-color: $dark-grey;
$link--font-color: $blue;
$link--font-color-hover: $dark-grey;
$button--font-color: $white;
$button--font-color-hover: $white;
$entry-title__link--font-color: $dark-grey;
$entry-title__link--font-color-hover: $blue;
$site-title__link--font-color: $dark-grey;
$genesis-nav-menu--font-color: $dark-grey;
$genesis-nav-menu--font-color-hover: $blue;
$menu-toggle--font-color: $dark-grey;
$menu-toggle--font-color-hover: $blue;
$sub-menu-toggle--font-color: $dark-grey;
$sub-menu-toggle--font-color-hover: $blue;
$menu-highlight__link--font-color: $white;
$sidebar__widget-title--font-color: $dark-grey;
$forms--font-color: $dark-grey;
$archive-pagination--font-color: $dark-grey;
$archive-pagination--font-color-hover: $white;
$gs-faq__question--font-color: $dark-grey;
$gs-faq__question--font-color-hover: $blue;
$disabled--font-color: $mid-grey;

// Background colors
$body--background-color: $white;
$site-header--background-color: $white;
$mark--background-color: $light-grey;
$button--background-color: $dark-grey;
$button--background-color-hover: $blue;
$genesis-nav-menu__sub-menu__link--background-color: $white;
$footer-widgets--background-color: $white;
$menu-highlight__link--background-color: $dark-grey;
$menu-highlight__link--background-color-hover: $blue;
$forms__background-color: $white;
$sticky--background-color: $lightest-grey;
$author-box--background-color: $lightest-grey;
$code--background-color: $lightest-grey;
$archive-pagination--background-color: $lightest-grey;
$archive-pagination--background-color-hover: $dark-grey;
$enews__sidebar--background-color: $lightest-grey;
$disabled--background-color: $lighter-grey;

// Transitions.
@mixin transition {
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}